*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing:border-box;
}

.one{
    width:100%;
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), pink), url(images/3428547_810x458.jpg);
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;

}
form{
      width:80%;
      max-width: 600px;
    /*  background-color: bisque;
      background-position: center;
      background-size: cover;*/
}

.input-group{
    margin-bottom: 30px;
    position: relative;

}
input, textarea{
    width:100%;
    padding:10px;
    outline:0;
    border: 2px solid #000;
    color: brown;
    background-color:lightgrey;
    font-size: 18 px;
    font-weight: bold;

}
input:hover,textarea:hover{
    background-color: darkgray;
    color: darkred;
}
label{
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    padding:10px;
    color:black;
    cursor: text;
    transition: 0.2s;
}
button{
    padding:10px 0;
    outline:0;
    border: 2px solid #000;
    color: #fff;
    border-style: groove;
    width:100%;
    background-color: darkslategray;
    cursor:pointer;
}
button:hover{
    background-color: lightgray;
    color:black;
}
input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 15px;
}
.right{
    display:flex;
    /*justify-content: space-between;*/
    gap:30px;
}
.right .input-group{
   /* flex-basis:48%;*/
   flex-grow: 1;
}
.heading{
    color:mediumvioletred;
    text-align: center;
    text-shadow: 2px 2px black;
    margin-bottom: 70px;
}

  
 
  
  