h2{
    color:darkorange
}
p{
    color:blueviolet;
    border: 2px solid black;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: lightcyan;
    
}
ul li a{
    color:blue;
}
li{
    display:inline;
    
}
.container {
    position: absolute;
  }
  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }
  .topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }
  .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
  img { 
    width: 100%;
    height:auto;
    opacity: 0.4;
  }
 